/* resset css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    font-size: 15px;
    font-family: 'Lato', sans-serif;
}
/* /\
    nguyên tắc :
    + làm từ ngoài vào trong 
    + làm từ trên xướng dưới
    + tổng quan đến chi tiết
*/

/*
    câu hỏi khi code
    1. vị trí 
    2. kích thước (rộng, cao)
    3. màu sắc
    4. kiểu dáng (kiểu chữ, hình dạng, ....)
*/

#main{
    /* position: relative; */
}

#header{
    overflow:unset;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    opacity: 1;
    height: 51.5px;
    background-color: #000;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

#nav{
    display: inline-block;
}

#nav , .subnav{
    list-style-type: none;
}

#nav> li  {
    display:inline-block ;
    position: relative;
}



#nav >li> a{
    color: #fff;
    text-transform: uppercase;
    padding: 0 24px;
    line-height: 51.5px;
}

#nav li a {
    text-decoration: none;
    display: block;
}

#nav  li:hover .subnav {
    display: block;
}

#nav  li:hover > a {
    background-color: #ccc;
    color: #000;
}

#nav .subnav {
    display: none;
    position: absolute;
    /* min-width:  160px ; */
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

#nav .subnav> li {
    min-width:  160px ;
    text-align: left;
}

#nav .nav-arrow-down{
    font-size: 12px;
}

#nav .subnav a{
    color: black;
    padding:8px 16px;
    /* line-height: 38px; */
}

#header .search-btn{
    padding:0 21px;
    float: right;
}


#header .menu-btn, .menu-icon{
    display: none;
}

#header .search-btn:hover{
    animation: ani-search-btn none 2s infinite;
}

@keyframes ani-search-btn {
    0%{
        transform: translateX(0px);
    }
    50%{
        transform: translateX(1px);
    }
    100%{
        transform: translateX(-1px);
        background-color: #2196F3;
    }
    
}


#header .search-icon{
    color: #fff;
    font-size: 20px;
    line-height: 51.5px;
    font-weight: 900;
}

#slider {
    position: relative;
    margin-top: 51.5px;
    padding-top: 50%;
    background: url("https://github.com/Zeustakeshi/webbt/blob/main/assets/images/slider/newy.jpg?raw=true") top center / cover no-repeat;
    
}


#slider .title{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 47px;
    padding: 0px 16px;
    color: #fff;
    text-align: center;
}

#slider .text-content h3{
    font-size: 24px;
    margin: 15px 0px;
    font-weight: lighter;
}

#slider .text-description{
    margin: 15px 0px;
    font-size: 15px;
}




.about{
    max-width: 800px;
    padding: 64px 16px;
    margin: 0 auto;
    text-align: center;
    
}





.head__{
    margin: 10px 0;
    font-size: 30px;
    letter-spacing: 4px;
}

.sub-head__{
    margin: 15px 0;
    font-style: italic;
    opacity: 0.6;
}

#content .about .para-about p {
    margin: 15px 0;
    font-size: 15px;
    line-height: 1.5;
    font-weight: 500;
    text-align: justify;
}

#content .about .about-img{
    text-align: unset;
    display: flex;
    padding: 32px 0;
}

#content .about .about-img .bg-about-img{
    max-width: 600px;
}


#content .about .about-img .bg-about-img img {
    width: 60%;
    margin: 0 0 16px;
    border-radius: 4px;
}

#content .about .label-img{
    margin: 15px 0;
} 

.bg-black{
    background-color: #000;
}

#content .tour{
    margin: 0 auto;
    max-width: 800px;
    background-color: #000;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 64px 16px 96px 16px;
}

#content .tour .time-tour {
    margin-top: 36px;
}

#content .tour .time-tour li {
    color: #757575;
    background-color: rgb(255, 255, 255);
    border: solid rgb(204, 202, 202) 1px;
    list-style-type: none;
    text-align: left;
    padding: 8px 16px;
    font-size: 15px;
}

#content .tour .time-tour li .sold-out{
    background-color: #f44336;
    margin-left: 16px;
    padding: 2px  8px;
    display: inline-block;
    color: #fff;
}

#content .tour .time-tour .sold_in{
    padding: 10px 16px;
}

#content .tour .time-tour li .sold-in{
    background-color: #000;
    color: #fff;
    padding: 3px 8px;
    /* margin: 0px 16px 0px 0px ; */
    border-radius: 50%;
    text-align: center;
    margin-right: 16px; 
    float: right;
    margin-top: -1px;

}

#content .tour .bg-tour-img{
    width: 100% + 16px;
    margin: 0 -16px;
    padding: 32px 8px;
    display: flex;
}

#content .tour .bg-tour-img .box-img{
    padding: 0 8px;
    float: left;
}

#content .tour .bg-tour-img .box-img img{
    width:  100%;
    display: block;
}

#content .tour .bg-tour-img .box-img img:hover{
    opacity: 0.6;
}

#content .tour .bg-tour-img .box-img .content_img{
    background-color: #fff;
    color: #000;
    padding: 0.15px 16px;
    text-align: left;
}

#content .tour .bg-tour-img .box-img .content_img .tour_title {
    margin: 15px 0;
    font-weight: 600;
}

#content .tour .bg-tour-img .box-img .content_img .tour_time-title {
    margin: 15px 0;
    opacity: 0.6;
}

#content .tour .bg-tour-img .box-img .content_img .tour_content {
    margin: 15px 0;
    line-height: 26px;
}
#content .tour .bg-tour-img .box-img .content_img .buytickets {
    background: #000;
    /* display: block; */
    color: #fff;
    margin: 0px 0px  16px;
    padding: 8px 16px;
    border: none;
    /* max-width: 116px; */
    vertical-align: middle;
    cursor: pointer;
    font-weight: 300;
    background-size: contain;
    white-space: nowrap
}

.buytickets a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
}

#content .tour .bg-tour-img .box-img .content_img .buytickets:hover {
    background-color: #ccc;
    color: #000;
}

#content #contact{
    margin: 0 auto;
    padding: 96px 16px;
    max-width: 800px;
    text-align: center;
}


#content #contact .form{
    text-align: right;
}

#content #contact .info-from {
    display: flex;
}

#content #contact .info-from .infom {
    width: 50%;
    text-align: left;
    font-weight: 600;
    line-height: 30px;
}

#content #contact .info-from .infom .insert {
    /* background-color: #f44336; */
    display: inline;
    padding: 5px;
}

#contact .info-from .form-message {
    text-align: left;
    display: block;
    padding: 0 8px;
    
}
#inputMessage{
    padding: 0 8px;
}

#inputName, #inputEmail {
    padding: 0 8px;
    width: 50%;
    float: left;
    margin-bottom: 8px;
}

#contact .info-from .form-message input {
    border: #ccc solid 1px;
    display: block;
    padding: 8px;
    width: 100%
}
#contact .info-from .form button {
    margin: 16px 8px 8px 0px;
    padding: 8px 16px;
    float: right;
    background-color: #000;
    cursor: pointer;
    color: #fff;
    border: none;
}

#contact .info-from .form button:hover {
    background-color: #ccc;
    color: #000;
}


#content #map {
    padding-top: 50%;
    background: url('https://raw.githubusercontent.com/Zeustakeshi/webbt/main/assets/images/map-img/map.jpg') top center / cover no-repeat;
}

#footer {
    display: block;
    height: 210px ;
    padding: 64px 16px;
    background: #f1f1f1;
    text-align: center;
}

#footer .icon-Footer{
    font-size: 28px;
    letter-spacing: 1px;
    opacity: 0.8;
}
#footer .icon-Footer a{
    text-decoration: none;
    color: #000;
    opacity: 0.8;
}


#footer p a ,
#footer p {
    margin: 15px 0px;
    opacity: 0.6;
    color: #000;
}

/* container css */
.modal{
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
    background-color: rgba(0,0,0,0.3);
    align-items: center;
    justify-content: center;
}
.container{
    background-color: #fff;
    width: 50%;
    position: relative;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    animation : movecontainer ease 0.4s;
}

@keyframes movecontainer{
    from{
        transform: translateY(-140px);
        opacity: 0;
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

.container .container-header{
    padding: 32px 16px;
    background-color: #009688;
    color: #fff;
    font-size: 20px;
    text-align: center;
}

.container-header .header-title-con {
    margin: 10px 0 ;
    font-weight: 400;
    letter-spacing: 4px;
}
.con_btn_close{
    font-size: 16px;
    padding: 8px 16px;
    position: absolute;
    color: #fff;
    right: 0;
    opacity: 0.8;
}
.con_btn_close:hover{
    opacity: 1;
    cursor: pointer;
}

.container-content{
    padding: 16px;
}

.container-content input{
    border: none;
    border: 1px solid #ccc;
    padding: 8px;
    width: 100%;
}

.container-content label {
    display: block;
    margin: 15px 0px;
    font-size: 15px;
}

.container-content label p {
    display: inline-block;
    margin-left: 5px ;
    font-weight: 550;
}

.container-content .modal-btn-con {
    width: 100%;
    font-weight: 400;
    margin: 16px 0px;
    font-size: 15px;
    border: none;
    padding: 16px;
    background-color: #058578;
    text-transform: uppercase;
    color: #fff;
    opacity: 0.8;
}

.modal-btn-con .check {
    font-weight: bolder;
}

.container-content .modal-btn-con:hover{
    opacity: 1;
    cursor: pointer;
}

.footer-container{
    padding: 25px;
    margin: 0;
    float: right;
    font-size: 15px;
}

.footer-container a {
    color: #2196F3;
}


/* repon css */
/* PC */
@media (min-width: 1024px){
    #nav> .groub_nav {
        display: block;
    }
}
/* Tablet */
@media (min-width: 740px) and (max-width: 1024px){
    #nav> .groub_nav {
        display: block;
    }
    .container {
        width: 80%;
    }
}
/* Mobile */
@media (max-width: 740px){
    *{
        font-size: 18px;
    }
    .container {
        width: 95%;
    }

    #nav> li  {
        display: block;
        
    }
    #header{
        overflow:hidden;
    }

    @keyframes moveHeader {
        form{
            transform: translateY(-40px);
            opacity: 0;
        }
        to{
            transform:  translateY(0px);
            opacity: 1;
        }
    }
    .search-btn,
    .search-icon{
        display: none;
    }

    .menu-btn .menu-icon,
    #header .menu-btn {
        display: block;
        color: #fff;
        font-size: 20px;
        line-height: 51.5px;
        font-weight: 900;
    }
    .menu-btn{

        padding:0 21px;
        float: right;
        position: absolute;
        top: 0;
        right: 0;
    }
    #header .menu-btn:hover{
        cursor: pointer;
        background-color: #ccc;
    }

    #nav {
        display: block;
    }
    #nav > li:first-child{
        display: inline-block;
    }
    #nav .subnav {
        position: initial;
        background-color: #333;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    }
    #nav .subnav a{
        color: #fff;
        padding: 17px 45px;
    }

    #content .tour .bg-tour-img{
        display: inline-block;
        min-width: 105%;
        padding: 32px 0px;
    }
    #content .tour .bg-tour-img .box-img{
        float: unset;
        margin-bottom: 16px;
    }

    #content .about .about-img{
        display: inherit;
    }

    #slider .title {
        display: none;
    }

    #content #contact .info-from {
        display: block;
    }

    #content #contact .info-from .infom {
        width: 100%;
        margin-bottom: 16px;
    }

    /* .form-message .input-contact{
        /* background-color: #009688; */
        /* float: unset  !important;
        width: 100% !important; */
    /* }  */

    #contact .info-from .form-message #inputName, #inputEmail, #inputMessage {
        padding: 0 ;
        width: 100%;
        float: unset;
        margin-bottom: 8px;
    }

    #contact .info-from .form-message{
        padding: 0;
    }
}

